<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="/index :: head"></head>
<title>Iniciar Sesion</title>
<body id="principal" class="img-fluid">
<nav th:replace="/index :: nav"></nav>

<div class="container mt-2 py-5 b-5 contenido" id="contenido">
  <div class="row ">
    <div class="col-6 login">
<!--      <img th:src="@{/imagenes/login.png}" >-->
    </div>
    <div class="col-6">

      <div class="text-center">
        <img th:src="@{imagenes/logosoloblanco.png}" width="150" alt="">
      </div>
      <h2 class="fw-bold text-center py-0">Bienvenido</h2>

      <!-- LOGIN -->


      <form action="/logincheck" method="post">
        <div class="mb-4">
          <label for="email" class="form-label">Correo Electronico</label>
          <input type="email" class="form-control" name="username"/>
        </div>
        <div class="mb-4">
          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password"/>
          </div>
        </div>
        <div class="mb-4 form-check">
          <input type="checkbox" name="connected" class="form-check-input">
          <label for="connected" class="form-check-label">Mantenerme conectado</label>
        </div>
        <div class="d-grid text-center">
          <button type="submit" class="bnt btn-primary btn-lg"> Iniciar Sesion</button>
        </div>
        <div class="my-3 text-center">
          <span>No tienes cuenta?<br> <a href="#">Registrate</a></span> <br>
          <span><a href="#">Recuperar Contraseña</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:replace="/index :: foote"></div>


<!-- ARCHIVOS BOOTSTRAP JAVASCRIPT -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>