<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="/index :: head"></head>
    <title>Registrarse</title>



<body id="principal" class="img-fluid">
<nav th:replace="/index :: nav"></nav>

<div class="container mt-2 py-8 b-5 contenido" id="contenido">
    <div class="row ">
        <div class="col-6 registrarse">
            <!--      <img th:src="@{/imagenes/login.png}" >-->
        </div>

        <div class="col-6">
            <div class="text-center">
                <img th:src="@{imagenes/logosoloblanco.png}" width="150" alt="">
            </div>
            <h2 class="fw-bold text-center py-0">Registrarse</h2>
            <!-- LOGIN -->
            <form th:action="@{/confirmacion}" th:object="${usuario}" method="POST" >
                <div class="mb-4">
                    <label class="form-label" >Nombre</label><br>
                    <input type="text" placeholder="Nombre" name="nombre" class="form-control" th:value="${usuario.nombre}">
                </div>
                <div class="mb-4">
                    <label class="form-label">Apellido</label><br>
                    <input type="text" placeholder="Apellido" name="apellido" class="form-control" th:value="${usuario.apellido}">
                </div>
                <div class="mb-4">
                    <label class="form-label">Correo Electronico</label><br>
                    <input type="email" class="form-control" name="email" th:value="${usuario.email}">
                </div>
                <div class="mb-4">
                    <div class="mb-4">
                        <label class="form-label">Password</label><br>
                        <input type="password" class="form-control" name="password" th:value="${usuario.password}">
                    </div>
                </div>
                <div class="mb-4 form-check">
                    <input type="checkbox" name="connected" class="form-check-input">
                    <label class="form-check-label">Mantenerme conectado</label>
                </div>
                <div class="d-grid text-center ">
                    <button type="submit" class="bnt btn-primary btn-lg"> Registrarse</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div th:replace="/index :: foote"></div>
<!-- ARCHIVOS BOOTSTRAP JAVASCRIPT -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
        integrity="sha512-fzff82+8pzHnwA1mQ0dzz9/E0B+ZRizq08yZfya66INZBz86qKTCt9MLU0NCNIgaMJCgeyhujhasnFUsYMsi0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>



</html>